.container {
  width: min(var(--container-width), calc(100% - var(--page-gutter-sm)));
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: min(var(--container-width), calc(100% - var(--page-gutter)));
  }
}
